<template name="confirmacion">
    <div id="conf-cont">
        <h1>Verifique que sus datos estén correctos, luego oprima confirmar</h1>
        <div class="conf-group">
            <div class="conf-desc">Fecha de solicitud</div>
            <div class="conf-dato">01/09/2015</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Ciudad</div>
            <div class="conf-dato">Cali</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Póliza</div>
            <div class="conf-dato">ML0001</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Vigencia solicitada del seguro</div>
            <div class="conf-dato"><span>Desde </span>01/01/2016 <span>Hasta </span>31/12/2016</div>
        </div>
        <div class="conf-subt">Datos del tomador</div>
        <div class="conf-group">
            <div class="conf-desc">Tipo de documento</div>
            <div class="conf-dato">C.C.</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Número de documento de identidad</div>
            <div class="conf-dato">1.111.111.111</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Lugar de nacimiento</div>
            <div class="conf-dato">Cali</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Apellidos o razón social</div>
            <div class="conf-dato">Doe</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Nombres</div>
            <div class="conf-dato">John</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Dirección domicilio</div>
            <div class="conf-dato">Calle 1 1-101</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Departamento</div>
            <div class="conf-dato">Valle del Cauca</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Ciudad</div>
            <div class="conf-dato">Cali</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Barrio</div>
            <div class="conf-dato">Ciudad Jardín</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Telefono/Celular</div>
            <div class="conf-dato">3201234567</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Extensión</div>
            <div class="conf-dato">N/A</div>
        </div>
        <div class="conf-subt">Datos del asegurado</div>
        <div class="conf-group">
            <div class="conf-desc">Tipo de documento</div>
            <div class="conf-dato">C.C.</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Número de documento de identidad</div>
            <div class="conf-dato">1.111.111.111</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Lugar de nacimiento</div>
            <div class="conf-dato">Cali</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Fecha de nacimiento</div>
            <div class="conf-dato">01/01/1900</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Apellidos o razón social</div>
            <div class="conf-dato">Doe</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Nombres</div>
            <div class="conf-dato">John</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Dirección domicilio</div>
            <div class="conf-dato">Calle 1 1-101</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Departamento</div>
            <div class="conf-dato">Valle del Cauca</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Ciudad</div>
            <div class="conf-dato">Cali</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Barrio</div>
            <div class="conf-dato">Ciudad Jardín</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Telefono/Celular</div>
            <div class="conf-dato">3201234567</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">E-mail</div>
            <div class="conf-dato">johndoe@mydomain.com</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Profesión</div>
            <div class="conf-dato">Ingeniería, Estudiante</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Ocupación</div>
            <div class="conf-dato">Empleado</div>
        </div>
        <div class="conf-subt">Datos del beneficiario</div>
        <div class="conf-group">
            <div class="conf-desc">Apellidos, nombres y/o razón social</div>
            <div class="conf-dato">John Doe</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Tipo de documento</div>
            <div class="conf-dato">C.C.</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Número de documento de identidad</div>
            <div class="conf-dato">1.111.111.111</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Dirección domicilio</div>
            <div class="conf-dato">Calle 1 1-101</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Departamento</div>
            <div class="conf-dato">Valle del Cauca</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Ciudad</div>
            <div class="conf-dato">Cali</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Telefono/Celular</div>
            <div class="conf-dato">3201234567</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Vínculos existentes entre el tomador, asegurado y beneficiario</div>
            <div class="conf-dato">Familiar</div>
        </div>
        <div class="conf-subt">Datos del riesgo</div>
        <div class="conf-group">
            <div class="conf-desc">Dirección del riesgo</div>
            <div class="conf-dato">Calle 1 1-101</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Ciudad</div>
            <div class="conf-dato">Cali</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Departamento</div>
            <div class="conf-dato">Valle del Cauca</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Telefono</div>
            <div class="conf-dato">3201234567</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Número de pisos del inmueble</div>
            <div class="conf-dato">2</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Años de construcción</div>
            <div class="conf-dato">1984-1998</div>
        </div>
        <div class="conf-subt">Datos del riesgo</div>
        <div class="conf-group">
            <div class="conf-desc">Tipo de inmueble</div>
            <div class="conf-dato">Apartamento</div>
        </div>
        <div class="conf-group">
            <div class="conf-desc">Alternativa de aseguramiento</div>
            <div class="conf-dato">Alternativa 1</div>
        </div>
        <button class="btn btn-lg btn-primary btn-block ancho" id="confirmar">Confirmar</button>
        <button class="btn btn-lg btn-primary btn-block ancho" id="editar">Editar</button>
    </div>
</template>