<template name="factura">
    <div class="cont-factura">
        <h1>Factura de venta No. 1234</h1>
        <form>
            <div class="nombre-producto">Producto: Seguro Global Home</div>
            <div class="opcion">Alternativa 1</div>
            <ul class="descr-opcion">
                <li>Incendio, daños por agua, explosión, anegación, extend. coverage, AMIT-HMACCP y Terremoto.</li>
                <li>Responsabilidad civil extracontractual. Incluída.</li>
                <li>Asistencia domiciliaria. Incluída.</li>
            </ul>
            <div class="list-valores">
                <div>
                    <div>Valor</div>
                    <div>$100.800</div>
                </div>
                <div>
                    <div>Iva</div>
                    <div>$19.200</div>
                </div>
                <div>
                    <div>Total</div>
                    <div>$120.800</div>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block">PAGAR</button>
        </form>
    </div>
</template>