<template name="menu">
    <div class="menu-grid">
        <h1>Selección de productos</h1>
        <ul class="list-unstyled">
            <li class="firstLine">
                <img class="icon-producto" src="/img/home.png" />
                <div class="text-producto">Hogar</div>
                <img class="icon-arrow" src="/img/arrow-down.png" />
                <ul class="list-unstyled">
                    <li class="second-text-producto"><a href="{{pathFor 'ayudaventas'}}">Edificio</a></li>
                    <li class="second-text-producto"><a href="#">Edificio + contenido</a></li>
                    <li class="second-text-producto"><a href="#">Solo contenido</a></li>
                </ul>
            </li>
            <li class="firstLine">
                <img class="icon-producto" src="/img/auto.png" />
                <div class="text-producto">Autos</div>
                <img class="icon-arrow" src="/img/arrow-down.png" />
                <ul class="list-unstyled">
                    <li class="second-text-producto"><a href="#">Responsabilidad civil</a></li>
                    <li class="second-text-producto"><a href="#">Full cobertura</a></li>
                    <li class="second-text-producto"><a href="#">GAP</a></li>
                </ul>
            </li>
            <li class="firstLine">
                <img class="icon-producto" src="/img/salud.png" />
                <div class="text-producto">Salud</div>
                <img class="icon-arrow" src="/img/arrow-down.png" />
                <ul class="list-unstyled">
                    <li class="second-text-producto"><a href="#">Salud full cobertura</a></li>
                    <li class="second-text-producto"><a href="#">Salud con cobertura en el exterior</a></li>
                    <li class="second-text-producto"><a href="#">Hospitalización con cirugía</a></li>
                    <li class="second-text-producto"><a href="#">Rentas diarias</a></li>
                    <li class="second-text-producto"><a href="#">Asistencia médica domiciliaria</a></li>
                    <li class="second-text-producto"><a href="#">Cáncer</a></li>
                </ul>
            </li>
            <li class="firstLine">
                <img class="icon-producto" src="/img/vida.png" />
                <div class="text-producto">Vida</div>
                <img class="icon-arrow" src="/img/arrow-down.png" />
                <ul class="list-unstyled">
                    <li class="second-text-producto"><a href="#">Vida grupo</a></li>
                    <li class="second-text-producto"><a href="#">Accidente personal</a></li>
                    <li class="second-text-producto"><a href="#">Exequial</a></li>
                </ul>
            </li>
            <li class="firstLine">
                <img class="icon-producto" src="/img/rc.png" />
                <div class="text-producto">Responsabilidad civil profesional (RC médica)</div>
            </li>
            <li class="firstLine">
                <img class="icon-producto" src="/img/mascotas.png" />
                <div class="text-producto">Mascotas</div>
            </li>
        </ul>
    </div>
</template>