<template name="seleccion">
    <div class="cont-seleccion">
        <h1>Tipo de inmueble</h1>
        <form>
            <div class="form-group">
                <label class="block-label label-strong">Seleccione el tipo de inmueble a asegurar</label>
                <label class="radio-inline" for="">
                    <input type="radio" name="tipo-inmueble" id="" value="casa"><span>Casa</span>
                </label>
                <label class="radio-inline" for="">
                    <input type="radio" name="tipo-inmueble" id="" value="apartamento"><span>Apartamento</span>
                </label>
                <label class="radio-inline" for="">
                    <input type="radio" name="tipo-inmueble" id="" value="casa de descanso"><span>Casa de descanso dentro de condominio</span>
                </label>
                <h3>Alternativas a aseguramiento</h3>
                <label class="radio" for="">
                    <input type="radio" name="" id="" value=""><span>Alternativa 1</span>
                </label>
                <div>
                    <p>Solo se asegura el inmueble (apartamento y / o casa) valor asegurado: <strong>Mínimo $20.000.000, valor asegurado Máximo $300.000.000</strong></p>
                    <p><strong>Amparo bajo la alternativa 1</strong></p>
                    <p><strong>Amparo Básico:</strong></p>
                    <p>Incendio, daños por agua, explosión, anegación, extend. coverage, AMIT-HMACCP y Terremoto</p>
                </div>
            </div>
        </form>
    </div>
</template>